@import "../../styles/_variables";

.header {
  background: $primaryColor;
  color: $textSecondary;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  // margin-bottom: 15px;

  .logo-container {
    justify-content:flex-start;
    display: flex;
    width: 50%;

    .brand-title {
      
      padding-bottom: 10px;
      margin-left: 20px;
      @media only screen and (max-width: 1026px) {
        display: none;
      }
    }

    .brand-box {
      background-color: $secondaryColor;
      z-index: 100;
    }

    .animation {
      width: 20%;
      padding: 15px 20px;

      h4 {
        display: flex;
      }
      @media only screen and (max-width: 1026px) {
        display: none;
      }
    }

    .logo {
      // height: 100%;
      // width: 70px;
      padding: 25px;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    // padding: 10px 10px;
    align-items: left;
    justify-content: flex-end;
    // justify-content: space-between;

    .option {
      font-size:1rem;
      padding: 25px 10px 0px 10px;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}
